/* General page styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    color: black;
}

/* Header styling */
header {
    background-color: darkslategray;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation bar */
nav {
    background-color: dimgray;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: black;
}

/* Section styling */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(188, 203, 222);
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: darkslategray;
    color: black;
    margin-top: 20px;
}
